:where(.button, button) {
  border: 1px solid #333;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
  background-color: #fcfcfc;
  color: #333;
  cursor: pointer;
  padding: .2rem;
  text-decoration: none;
}

:where(.button, button, input[type="button"]):not(:disabled) {
  cursor: pointer;
}

.button {
  padding: .8rem;
}

[disabled]:where(.button, button) {
  color: #999;
  border-color: #999;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
  cursor: not-allowed;
}
