@import './button.css';

form label {
  font-weight: bold;
}

:where(textarea, input[type="text"], input[type="date"], input[type="search"]) {
  border: 1px solid #333;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
  background-color: #fcfcfc;
  color: #333;
  padding: .2rem;
  text-decoration: none;
}

textarea {
  max-width: calc(100% - .8rem - .8rem);
}

select {
  max-width: 450px;
}

textarea {
  max-width: calc(100% - .8rem - .8rem);
}

:where(textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="search"]) {
  padding: .8rem;
}

[disabled]:where(textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="search"]) {
  color: #999;
  border-color: #999;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

:where(.button, textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="search"]) + .button {
  border-left: none;
}

.field {
  margin: .5rem 0 1rem;
}

:where(form label, select, input[type="submit"]):not(:disabled) {
  cursor: pointer;
}
