body {
  font-family: "Marianne", arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size:  1rem;
  line-height:  1.5re ;
  background-color: var(--background-default-grey);
  color: var(--text-default-grey);
}


h6 {
  font-weight:  700 ;
  font-size:  1.125rem ;
  line-height:  1.5rem ;
  margin: var(--title-spacing);
}

h5 {
  font-weight:  700 ;
  font-size:  1.25rem ;
  line-height:  1.75rem ;
  margin: var(--title-spacing);
}

h4 {
  font-weight:  700 ;
  font-size:  1.375rem ;
  line-height:  1.75rem ;
  margin: var(--title-spacing);
}

h3 {
  font-weight:  700 ;
  font-size:  1.5rem ;
  line-height:  2rem ;
  margin: var(--title-spacing);
}

h2 {
  font-weight:  700 ;
  font-size:  1.75rem ;
  line-height:  2.25rem ;
  margin: var(--title-spacing);
}

h1 {
  font-weight:  700 ;
  font-size:  2rem ;
  line-height:  2.5rem ;
  margin: var(--title-spacing);
}

p {
  font-size:  1rem ;
  line-height:  1.5rem ;
  margin: var(--text-spacing);
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-block-start: var(--xl-block);
  margin-block-end: var(--xl-block);
  --xl-size: var(--xl-base);
}

ul {
  list-style-type: var(--ul-type);
  padding-inline-start: var(--ul-start);
}

ul > li::marker {
  font-size: calc(var(--xl-size) * 0.9);
}

ol {
  list-style-type: var(--ol-type);
  padding-inline-start: var(--ol-start);
  counter-reset: li-counter;
}

ol > li {
  counter-increment: li-counter;
}

ol > li::marker {
  content: var(--ol-content);
  font-size: var(--xl-size);
  font-weight: bold;
}

li {
  --xl-base: calc(var(--xl-size) * 0.9);
  padding-bottom: var(--li-bottom);
}
